.suscripcion-page{
  max-width:600px;
  color:#fff;
  padding-top: 30px
}

.suscripcion-page h1{
  margin-bottom:10px;
  padding-top: 30px;
}

.suscripcion-page p{
  margin-bottom:30px;
  opacity:.8;
}

.error{
  color:#f80000;
  font-size:.9em;
  margin-top:4px;
}
