.contact-page{
  max-width:800px;
  color:#fff;
  padding-top: 30px;
}

.contact-page h1{
  text-align:center;
  margin-bottom:30px;
  color:#fff;
  padding-top:30px;
}

.contact-page h2{
  text-align: center;
  margin-bottom:20px;
  color:#fff;
}

.author-box{
  display:flex;
  gap:30px;
  align-items:center;
  margin-bottom:50px;
}

.author-photo{
  width:340px;
  height:200px;
  border-radius:50%;
  object-fit:cover;
}

.error{
  color:#f80000;
  font-size:.9em;
  margin-top:4px;
}

.map-section{
  margin-top:60px;
}

.map-section iframe{
  width:100%;
  height:420px;
  border-radius:12px;
  border:0;
}


@media(max-width:768px){
  .author-photo{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 0;
  }

  .author-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
